::ng-deep .mdc-button__label {
    color: white;
  }
  mat-icon {
    color: #fff;
  }
  
  .activated-route {
    border-bottom: 2px solid;
    border-radius: 0;
  }
  
  .activated-route:last-child {
    margin-right: 15px;
  }
  
  a {
    transition: 0.1s;
    border-bottom: 2px;
    border-radius: 0;
  }