<div class="min-h-[91vh] flex items-center justify-center bg-gray-800">
    <div class="text-white text-center px-6 py-12 max-w-md w-full">
      <h1 class="text-9xl font-extrabold">404</h1>
      <p class="text-2xl mt-4">Página no encontrada</p>
      <p class="text-lg mt-2">Lo sentimos, la página que estás buscando no existe.</p>
      <a href="/" class="mt-8 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out">
        Ir al inicio
      </a>
    </div>
</div>
  