@if(this.dataDetail) {
        <div class="flex justify-center mt-8">
            <div class="flex-shrink-0 w-40 md:w-52 lg:w-64 xl:w-80 rounded overflow-hidden transition-transform duration-300 ease-in-out transform hover:scale-105">
                <app-image-fallback [uuid]="dataDetail.images.logo!" [alt]="dataDetail.title + ' logo'"
                    class="w-full h-auto rounded-xl object-cover transition-shadow duration-300 ease-in-out">
                </app-image-fallback>
        </div>
     </div>
    <div class="w-full max-w-7xl mt-10 flex flex-col md:flex-row gap-8 items-start">
    
        <div class="flex-shrink-0 w-40 md:w-52 lg:w-64 rounded overflow-hidden shadow-xl mx-auto md:mx-0">
            <app-image-fallback [uuid]="dataDetail.images.poster" [alt]="dataDetail.title + ' Poster'" class="w-full h-auto rounded-xl object-cover">
            </app-image-fallback>
        </div>

        <div class="flex-1 space-y-4">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold drop-shadow-md">
                {{ dataDetail.title }}
            </h1>
            <div class="flex flex-wrap gap-2">
                @for (genre of dataDetail.genres; track $index) {
                <span class="bg-blue-600 text-sm font-medium px-3 py-1 rounded-full">
                    {{ getGenreName(genre) }}
                </span>
                }
            </div>
            <div>
                <p class="text-sm md:text-base leading-relaxed text-gray-300 max-w-2xl transition-all duration-300 ease-in-out overflow-hidden"
                    [class.line-clamp-3]="!showFullDescription" [innerHTML]="dataDetail.overview">
                </p>
                @if(dataDetail.overview.length > 130){
                <button class="mt-2 text-blue-400 hover:text-blue-300 text-sm font-medium"
                    (click)="showFullDescription = !showFullDescription">
                    {{ showFullDescription ? 'Ver menos' : 'Ver más' }}
                </button>
                }
            </div>
            <div class="mt-6 space-y-1 text-sm md:text-base">
                <div><span class="font-semibold">Título:</span> {{ dataDetail.title }}</div>
                <div><span class="font-semibold">Original:</span> {{ dataDetail.title }}</div>
                <div><span class="font-semibold">Duración:</span> {{ getFormattedRuntime(dataDetail.runtime) }}</div>
                <div><span class="font-semibold">Estreno:</span> {{ dataDetail.release_date | date:'d MMMM, yyyy' }}</div>
                <div><span class="font-semibold">Última actualización:</span> {{ dataDetail.last_update | date:'d MMMM,
                    yyyy' }}</div>
            </div>
        </div>
    </div>


    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 mb-10">
        <div class="flex flex-col md:flex-row items-start gap-8">
            <div class="relative w-full md:w-2/3">
                @if(dataDetail.type === "movies"){
                    <app-video-player [idPost]="dataDetail._id" [title]="dataDetail.title"></app-video-player>
                }@else if (dataDetail.type === "tvshows") {
                    <mat-form-field appearance="fill" class="w-full md:w-60 mb-6">
                        <mat-label>Seleccionar temporada</mat-label>
                        <mat-select  [value]="selectedSeason()"  (selectionChange)="selectedSeason.set($event.value)">
                            @for (season of seasons; track season) {
                            <mat-option [value]="season">
                                Temporada {{ season }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        @for (episode of filteredEpisodes(); track $index) {
                        <div class="bg-gray-900 rounded-2xl shadow-md p-5 flex flex-col md:flex-row items-start gap-6">
                            <div
                                class="flex-shrink-0 w-full md:w-40 aspect-video bg-gray-800 rounded-lg overflow-hidden flex items-center justify-center text-gray-400 text-sm">
                                <app-image-fallback [uuid]="episode.still_path" class="w-full h-full object-cover rounded-lg"
                                    [type]="'episodes'"></app-image-fallback>
                            </div>

                            <div class="flex flex-col justify-between flex-grow min-w-0">
                                <div>
                                    <h3 class="text-white text-xl font-semibold leading-tight truncate">
                                        Episodio {{ episode.episode_number }}
                                    </h3>
                                    <p class="text-sm text-gray-400 mt-1">
                                        Duración: {{ episode.runtime }} min
                                    </p>
                                </div>
                                <div class="mt-5">
                                    <button (click)="playEpisode(episode)"
                                        class="bg-blue-600 hover:bg-blue-700 text-white text-sm font-semibold px-5 py-2 rounded-lg transition-colors">
                                        Ver episodio
                                    </button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>   
                }
                
            </div>

            <div class="flex-1">
                <h2 class="text-lg font-bold text-white mb-4 flex items-center">
                    <span class="w-3 h-8 bg-blue-500 mr-3 rounded-full"></span>
                    Galería
                </h2>
                <div class="max-w-sm mx-auto mb-8">
                    <swiper-container [config]="swiperConfig" class="mySwiper" space-between="30" effect="fade" autoplay="true" pagination-type="progressbar">
                        @for (url of imageGallery; track $index) {
                            <swiper-slide class="group cursor-pointer">
                                <img [src]="url" class="w-full h-40 object-cover rounded-md">
                            </swiper-slide>
                        }
                    </swiper-container>
                </div>

                <h2 class="text-2xl font-bold text-white mb-6 border-l-4 border-blue-500 pl-3">
                    Te puede gustar
                </h2>
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                    @for (movie of relatedMovies; track $index) {
                        <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
                    }
                </div>
            </div>
        </div>
    </div>
}