<section
  class="home-main-content flex justify-center items-center h-[459px] bg-cover bg-center text-white text-5xl font-bold shadow-lg"
  style="
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.85), rgba(26, 33, 74, 0.85)), url('../assets/img/background-main.webp') no-repeat center center / cover;
  ">
  <div class="text-center max-w-2xl p-8">
    <h1 class="welcome-text text-6xl mb-4">Bienvenido</h1>
    <p class="text-xl mt-4 text-gray-300">Descubre tus películas y series favoritas</p>
  </div>
</section>

<div class="container mx-auto px-4 overflow-y-auto">
  <!-- Sección de Películas -->
  <section class="my-16">
    <h2 class="text-2xl font-bold mb-4 flex items-center text-white">
      <mat-icon class="mr-2">movie</mat-icon>
      Películas
    </h2>
    
    <mat-tab-group (selectedTabChange)="tabMovieChange($event)" [selectedIndex]="selectedMovieTab" mat-align-tabs="end">
      <mat-tab *ngFor="let tab of movieTabList" [label]="tab">
        <div [@fadeAnimation]>
          <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
            @if (moviesList.length > 0) {
              <swiper-slide *ngFor="let movie of moviesList | slice: 0: 15" [@slideAnimation]>
                <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
              </swiper-slide>
            } @else {
              <div class="flex justify-center items-center h-40">
                <p class="text-white text-lg text-center p-4 bg-gray-800 bg-opacity-75" [@fadeAnimation]>
                  No hay películas disponibles
                </p>
              </div>
            }
          </swiper-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>

  <!-- Sección de Series -->
  <section class="my-16 mb-20">
    <h2 class="text-2xl font-bold mb-4 flex items-center text-white">
      <mat-icon class="mr-2">tv_gen</mat-icon>
      Series
    </h2>
    <!-- <mat-tab-group (selectedTabChange)="tabTVChange($event)" [selectedIndex]="selectedTVTab">
      <mat-tab *ngFor="let tab of tvShowsTabList" [label]="tab">
        <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
          <swiper-slide *ngFor="let tvShow of tvShowsList | slice: 0: 15">
            <app-poster-card [model]="tvShow"></app-poster-card>
          </swiper-slide>
        </swiper-container>
      </mat-tab>
    </mat-tab-group> -->
  </section>
</div>
