<main class= "text-white pt-16 px-4 sm:px-6 md:px-8 lg:px-12 flex justify-center" [class.pointer-events-none]="isLoading()">
    <div class="w-full max-w-7xl mt-10">
        <div class="flex flex-col lg:flex-row lg:justify-between gap-4 mb-6">
          <div class="flex flex-nowrap gap-4 pb-2 sm:grid sm:grid-cols-2">
            <mat-form-field appearance="fill" class="min-w-[160px] sm:w-full">
              <mat-label>Géneros</mat-label>
              <mat-select [(value)]="selectedGenres" multiple (selectionChange)="filterContent()">
                @for (genre of genres; track genre.id) {
                  <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="min-w-[160px] sm:w-full">
              <mat-label>Año</mat-label>
              <mat-select [(value)]="selectedYears" multiple (selectionChange)="filterContent()">
                <mat-option value="">Años</mat-option>
                @for (year of years; track year) {
                  <mat-option [value]="year.id">{{ year.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        
          <div class="w-full lg:w-auto lg:ml-4 mt-2 lg:mt-0">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Ordenar por</mat-label>
              <mat-select [(value)]="selectedOrder" (selectionChange)="filterContent()">
                <mat-option value="latest">Nuevo</mat-option>
                <mat-option value="modified">Actualizado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      @if(this.contentType === 'movies'){
        @defer {
          <div class="flex flex-col items-center gap-6">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3 sm:gap-4 md:gap-6">
              @for (content of moviesList; track $index) {
                <app-poster-card [model]="content" [isMovie]="true" class="w-full"></app-poster-card>
          } @empty {
            <div class="col-span-full flex flex-col items-center p-8 bg-gray-800 bg-opacity-75 rounded-lg">
              <p class= "text-lg md:text-xl text-center">No hay películas disponibles</p>
            </div>
          }
        </div>
        <div class="w-full mb-10">
          <mat-paginator class="mat-paginator-color" [length]="totalResults" [pageSize]="perPage" (page)="changePage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      }
    }
    </div>
  </main>